<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>今日食谱</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/common.css}" type="text/css"/>
</head>

<body>
<form th:action="@{/add}" th:object="${cookBook}" class="addForm" method="post">
    <fieldset>
        <legend>一般选项：</legend>
        <p>菜名：<input th:field="*{dish.name}" type="text"></p>
        <p>描述：<textarea th:field="*{dish.desc}"></textarea></p>
        <p>链接：<input th:field="*{dish.url}" type="url"></p>
    </fieldset>

    <fieldset>
        <legend>高级选项：</legend>
        <p>时段：
            <span>早上<input type="radio" th:field="*{periodOfDay}" value="MORNING"></span>
            <span>中午<input type="radio" th:field="*{periodOfDay}" value="AFTERNOON"></span>
            <span>晚上<input type="radio" th:field="*{periodOfDay}" value="EVENING"></span>
        </p>
        <p>周天：<select th:field="*{dayOfWeek}">
            <option value="1">周一</option>
            <option value="2">周二</option>
            <option value="3">周三</option>
            <option value="4">周四</option>
            <option value="5">周五</option>
            <option value="6">周六</option>
            <option value="7">周日</option>
        </select></p>
        <p>季节：<select th:field="*{session}">
            <option value="SPRING">春</option>
            <option value="SUMMER">夏</option>
            <option value="AUTUMN">秋</option>
            <option value="WINTER">冬</option>
        </select></p>
    </fieldset>
    <button type="submit">提交</button>
    <div th:if="${#fields.hasErrors('*')}">
        <p style="color: red" th:each="err:${#fields.allDetailedErrors()}" th:text="${err}">error
        </p>
    </div>
</form>
</body>

</html>